@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Gray-50: #fafafa;
  --Gray-500: #696969;
  --Gray-950: #141414;
}

body {
  margin: 1rem auto;
  font-size: 18px;
  background-color: var(white);
  font-family: 'Epilogue';
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 95vw;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-hero-image {
  width: 100%;
}

.mobile-hero-image img {
  width: 100%;
}

.mobile-menu-section {
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.dummy-black {
  width: 35%;
  background-color: var(--Gray-950);
  opacity: 0.5;
}

.mob-section {
  background-color: white;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.mobile-close-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-right: 1rem;
}

.mobile-menu-section-list {
  margin-top: 1rem;
  margin-left: 2rem;
  color: var(--Gray-500);
}

.mob-menu-section-list-item {
  list-style-type: none;
  padding-bottom: 1.5rem;
  padding-block: 1rem;
}

.mob-menu-section-list-item a {
  color: var(--Gray-500);
  font-size: 18px;
  text-decoration: none;
}

.label-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 0.9rem;
}

.arrow-btn {
  cursor: pointer;
  padding: 5px;
}

.arrow-up {
  display: none;
  width: 10px;
}

.arrow-down {
  display: block;
  width: 10px;
}

.arrow-btn.active .arrow-down {
  display: none;
}

.arrow-btn.active .arrow-up {
  display: block;
}

.sub-menu {
  display: none;
  list-style-type: none;
  padding-left: 25px;
  margin-top: 15px;
}

.sub-menu.show {
  display: block;
}

.sub-menu li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0.8rem 0;
}

.login-section {
  text-align: center;
  margin-top: 1rem;
}

.login-section p {
  font-size: 18px;
  cursor: pointer;
}

.login-section button {
  margin-top: 1rem;
  padding: 0.8rem 5rem;
  background-color: white;
  border-radius: 1rem;
  font-size: inherit;
  cursor: pointer;
  border: 1.72px solid var(--Gray-500);
}

article {
  margin: 3rem 0;
}

.text-section {
  width: 95vw;
  text-align: center;
}

.text-section h1 {
  font-weight: 700;
}

.text-section p {
  margin: 1.5rem 0;
  line-height: 1.5rem;
  color: var(--Gray-500);
  font-weight: 500;
}

.mobile-btn {
  background-color: var(--Gray-950);
  color: var(--Gray-50);
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: inherit;
  font-weight: 500;
}

footer {
  margin: 3rem 0;
}

.mobile-footer {
  width: 95vw;
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  column-gap: 0.5rem;
}

.mobile-footer-image img {
  width: 80%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
